.container {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.select-sector{
    background-color: #5c0673;
}

.select-sector-text{
    color: white;
}

.card-area {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    margin-bottom: 3rem;
}
